@model Cart

<div class="">
  @if (Model.Lines.Count() > 0)
  {
    <small class="navbar-text">
      <b>Cart total:</b>
      @Model.ComputeTotalValue().ToString("c")
    </small>
  }
  <a class="btn btn-sm btn-light navbar-btn"
    asp-controller="cart" asp-action="index"
    asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()"
   >
    <i class="fa fa-shopping-cart fa-2x"></i>
    <span class="cart">
      @Model.Lines.Sum(x => x.Quantity)
    </span>
  </a>
</div>