span.cart {
  background-color: transparent;
  position: absolute !important;
  right: 17px;
  top: 34px !important;
  font-size: 11px;
}

.btn {
  cursor: pointer;
}

.input-validation-error {
  border-color: red;
  background-color: #fee;
}